.timer-10min {
  width: 550px;
  display: flex;
  background-color: #263868; /* Dark Blue */
  color: white; 
  padding: 0px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  width: fit-content;
}
.timer-10min {
  width: 420px;
  background-color: #263868;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0px 10px;
  border: 1px solid #ccc;
  font-weight: bold;
}
.timer-left {
  margin-right: 40px;
}
.timer-heading {
  margin-left: 40px;
}
