.sww-heading {
  color: #334155;
  font-size: 36px;
  font-weight: 500;
}
.sww-para {
  color: #64748b;
  font-weight: 400;
  font-size: 16px;
  margin-top: 23px;
}
.sww-btn {
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #164687;
}
.loader-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
