.result-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.res-heading {
  color: #334155;
}
.res-timeing {
  color: #334155;
}
.res-score {
  color: #164687;
}
.res-reattempt-button {
  background-color: #164687;
  color: #ffffff;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
}
@media (max-width: 380px) {
  .sub-img {
    width: 300px;
  }
  .res-timeing {
    font-size: 20px;
  }
  .res-heading {
    text-align: center;
    font-size: 20px;
  }
}
