.submit-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sub-heading {
  color: #334155;
}
.sub-timeing {
  color: #334155;
}
.sub-score {
  color: #164687;
}
.sub-reattempt-button {
  background-color: #164687;
  color: #ffffff;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
}
@media (max-width: 400px) {
  .sub-img {
    width: 300px;
  }
  .sub-heading {
    font-size: 20px;
    text-align: center;
  }
}
